img{
    width: 450px;
    height: 200px;
}

body{
    margin: 0;
}

.header,
.footer{
    background-color: #1f2937;
}

.navbar{
    
}

.nav-links{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    
}

.logo-text{
    font-size: 24px;
    color: #f9faf8;
}

.nav-links a{
    text-decoration: none;
}

.slogan{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.header .subtext,
.nav-links a{
    font-size: 18px;
    color: #e5e7eb;
}

.header button{
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    padding: 5px 18px;
    color: #f9faf8;
    font-weight: bold;
}

/*----------------*/

.section.one .title{
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
} 

.section.one .subtext{
    font-size: 18px;
    color:#1f2937;
}

.section.one .image-illustration{
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}


/* ------------- */

.section.two{
    background-color: #e5e7eb;
}

.section.two .quote{
    font-size: 36px;
    color:#1f2937;
    font-style: italic;
    font-weight: lighter;
}

.section.two .author{
    font-weight: bold;
    color:#1f2937;
}

/* ------------- */